.container{
    
}
.bigheading{
    text-align: center;
    color: black;
    font-size: 2em;
    font-family: "Roboto";}
.headingtext1{
    text-align: center;
    color: black;
    font-family: "Didact Gothic";}
.headingtext2{
    text-align: center;
    color: black;
    font-family: "Didact Gothic";}
.mainpage{
    width: 100%;
padding-left: 0%;
padding-right: 2%;}


.button-container{
    width: 100%;
}
.button-three{
    width: 100%;
}