.navbar-nav {
  position: sticky;
  width: 100%;
  text-align: center;}
.navbar-nav li{
  float: none;
  display: inline-block;}


/**.fa is social icons in navbar**/
.fa{
    font-size: 2.2em!important;}

/**hero heading**/
.jumbotron{
    background-color: transparent;
    margin-bottom: 50px;}
.text-center{
    text-align: left;
    padding-left: 20px;}
.text-heading{
    color: black!important;
    font-size: 5em!important;
    font-family: "Roboto";
    font-weight: 900;}
.text-subheading{
    color: darkgray;
    padding-top: 25px;
    padding-top: auto;
    font-family: "Roboto";
    font-weight: 400!important;
    font-size: 1.4em!important;}










/*=========================
  Icons
 ================= */

.contact-links{
    background-color: transparent;
    width: auto;
    padding-right: 0;
    padding-left: 0;
    margin-top: -70px;
    margin-left: 945px;}

/* footer social icons */
ul.social-buttons{
	list-style: none;
	display: inline;}
ul.social-buttons li{
	display: inline;
	margin: 0 5px;}

/** set hover color to correct hex value for that brand from https://brandcolors.net/**/
.social-buttons a.icoInstagram:hover{
	background-color: #8134AF;
    opacity: 1;
    transition: opacity 0.5s;}
.social-buttons a.icoFacebook:hover{
	background-color:#3B5998;
    opacity: 1;
    transition: opacity 0.5s;}
.social-buttons a.icoLinkedin:hover{
	background-color:#0077b5;
    opacity: 1;
    transition: opacity 0.5s;}
.social-buttons a.icoPinterest:hover{
	background-color:#BD081C;
    opacity: 1;
    transition: opacity 0.5s;}
.social-buttons a.icoGithub:hover{
	background-color:#6e5494;
    opacity: 1;
    transition: opacity 0.5s;}

.social-buttons a.icoMail:hover{
	background-color:#007bb7;
    opacity: 1;
    transition: opacity 0.5s;}

a.icoInstagram{
 background-color: #8134AF;
 opacity: 0.5;
 transition: opacity 1s;}
a.icoFacebook{
 background-color: #3B5998;
 opacity: 0.5;
 transition: opacity 1s;}
a.icoLinkedin{
 background-color: #0077b5;
 opacity: 0.5;
 transition: opacity 1s;}
a.icoPinterest{
 background-color: #BD081C;
 opacity: 0.5;
 transition: opacity 1s;}
a.icoGithub{
 background-color: #6e5494;
 opacity: 0.5;
 transition: opacity 1s;}
a.icoMail{
 background-color: #007bb7;
 opacity: 0.5;
 transition: opacity 1s;}




.social-circle li.social-list a.social-link{
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 40px;
	height: 40px;
	font-size:14px;}
.social-circle li.social-list i{
	margin:0;
	line-height:40px;
	text-align: center;}

/** animate icons**/
.social-circle li.social-list a:hover i, .triggeredHover{
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;}
.social-circle i{
	color: #fff;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	-ms-transition: all 1s;
	transition: all 1s;}





@media screen and (min-width: 1686px){
    .contact-links{
    margin-left: 91.5em!important;}}
@media screen and (min-width: 1499px){
.contact-links{
    margin-left: 78em;}}
@media screen and (max-width: 1280px){
.contact-links{
    margin-left: 825px;}}
@media screen and (max-width: 1120px){
.contact-links{
    margin-left: 675px;}}
@media screen and (max-width: 1080px){
.contact-links{
    margin-left: 485px;}}
@media screen and (max-width: 900px){
    .text-subheading{
        -webkit-animation-delay: 2s!important; 
        -moz-animation-delay: 2s!important;
        animation-delay: 2s!important;}
    .jumbotron{
        padding: 0!important;
        margin: !important;
        background-color: transparent;
        margin-bottom: 0px;}
   .text-center{
        text-align: center;}
   .text-heading{
       font-size: 2em!important;
       padding-left: 0.3em!important;
       padding-bottom: 0px;
        text-align: left;}
   .text-subheading{
       font-size: 0.6em !important;
       padding-left: 1em !important;
       padding-right: 1em !important;
       width: 100%;
       margin: auto;
       margin-bottom: 2em;
        text-align: left;}
    .social-circle li.social-list a.social-link{
        display:inline-block;
	    position:relative;
	    margin:0 auto 0 auto;
	    -moz-border-radius:50%;
	    -webkit-border-radius:50%;
	    border-radius:50%;
	    text-align:center;
	    width: 20px;
	    height: 20px;
	    font-size:7px;}
    .social-circle li.social-list i{
	    margin:0;
	    line-height:20px;
	    text-align: center;}
    .contact-links{
        width: 100%;
        margin-top: 0;
        margin-bottom: -1em;
        text-align: left;
        margin-left: 0.3em;
        margin-right: auto;}
    .social-circle{
        padding-left: 0px;}
    ul.social-buttons{
	    list-style: none;
	    display: inline;}
    ul.social-buttons li{
	    display: inline;
        margin: 0 3px;}
    .row{
        width: auto;
        margin-left: -2em;
        margin-right: auto;
        text-align: center;}
    .col-sm-6{
        width: auto;
        display: inline-block;}
    .col-md-4{
        width: auto;
        display: inline-block;}
    .first-icon{
        display: inline-block!important;
        width: 40px!important;}

    .second-icon{
        display: inline-block!imprtant;
        width: 40px!important;}

    .third-icon{
        display: inline-block!important;
        width: 40px!important;}
    .thumbnail{
    }
    
    .caption{
        font-size: 0.5em !important;}} **/












/** fade in animations**/
.animate {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;}

@keyframes fadeIn {
  from {
    opacity: 0;}
  to {
    opacity: 1;}}
.fadeIn {
    -webkit-animation-name: fadeIn;
	animation-name: fadeIn;}
/**delays for fade**/

.nav-icon{
-webkit-animation-delay: 0.2s;
-moz-animation-delay: 0.2s;
animation-delay: 0.2s;}
.contact-me{
-webkit-animation-delay: 0.2s;
-moz-animation-delay: 0.2s;
animation-delay: 0.2s;}
.academic-history{
-webkit-animation-delay: 0.3s;
-moz-animation-delay: 0.3s;
animation-delay: 0.3s;}
.resume{
-webkit-animation-delay: 0.4s;
-moz-animation-delay: 0.4s;
animation-delay: 0.4s;}
.text-heading{
-webkit-animation-delay: 0.8s;
-moz-animation-delay: 0.8s;
animation-delay: 0.8s;}
.text-subheading{
-webkit-animation-delay: 2s;
-moz-animation-delay: 2s;
animation-delay: 2s;}
.icoFacebook{
-webkit-animation-delay: 1.1s;
-moz-animation-delay: 1.1s;
animation-delay: 1.1s;}
.icoLinkedin{
-webkit-animation-delay: 1.2s;
-moz-animation-delay: 1.2s;
animation-delay: 1.2s;}
.icoInstagram{
-webkit-animation-delay: 1.3s;
-moz-animation-delay: 1.3s;
animation-delay: 1.3s;}
.icoPinterest{
-webkit-animation-delay: 1.4s;
-moz-animation-delay: 1.4s;
animation-delay: 1.4s;}
.icoGithub{
-webkit-animation-delay: 1.5s;
-moz-animation-delay: 1.5s;
animation-delay: 1.5s;}
.icoMail{
-webkit-animation-delay: 1.6s;
-moz-animation-delay: 1.6s;
animation-delay: 1.6s;}
.row{
-webkit-animation-delay: 2.8s;
-moz-animation-delay: 2.8s;
animation-delay: 2.8s;}

















.nav-icon:hover{
    transition-delay: 2s;
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-ms--transform: rotate(90deg);
	transform: rotate(90deg);
    opacity: 0.5;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;}
.nav-icon{
    width: 120px;
    height: auto;
    opacity: 1;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	-ms-transition: all 1s;
	transition: all 1s;}

.row{
    width: 100%;
    max-width: 100% !important;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 4em;}
 
.thumbnail{
    background-color: transparent;
    border: none;}

*{
    border: none!important;}

.first-icon{
    background-color: transparent;
    width: 300px;
    opacity: 1;
    transition: opacity 0.5s;}
.second-icon{
    background-color: transparent;
    width: 300px;
    opacity: 1;
    transition: opacity 0.5s;}
.third-icon{
    background-color: transparent;
    width: 300px;
    opacity: 1;
    transition: opacity 0.5s;}
.third-icon:hover{
    background-color: transparent;
    width: 300px;
    opacity: 0.5;
    transition: opacity 0.5s;}
.second-icon:hover{
    background-color: transparent;
    width: 300px;
    opacity: 0.5;
    transition: opacity 0.5s;}
.first-icon:hover{
    background-color: transparent;
    width: 300px;
    opacity: 0.5;
    transition: opacity 0.5s;}

.caption{
    text-align: center;}

.Contact-Me, .My-Work, .About-Me{
    color: darkgray;
    padding-top: auto;
    font-family: "Roboto";
    font-weight: 400!important;
    font-size: 1.4em!important;}


    
    
    
    






/**about me html**/

.jumbotron-2{
    margin-bottom: -2em!important;}

.About{
    font-family: "Roboto";
    font-weight: 400;
        color: darkgray;
    padding-top: auto;
    font-family: "Roboto";
    font-weight: 400!important;
    font-size: 1.2em!important;}










.col-sm-4{
    padding-left: 15px;
    padding-right: 15px;}


.pic-1{
    width: 100%;}


.intrinsic-container {
  position: relative;
  height: 0;
  overflow: hidden;
}
 
/* 16x9 Aspect Ratio */
.intrinsic-container-16x9 {
  padding-bottom: 56.25%;
}
 
/* 4x3 Aspect Ratio */
.intrinsic-container-4x3 {
  padding-bottom: 75%;
}
 
.intrinsic-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}


*{
	padding:0;
	margin:0;
}

/*	general	*/

section{
    padding: 50px 0;
}

/*	gallery */

.gallery-title{
    font-size: 36px;
    color: #3F6184;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}
.filter-button{
    font-size: 18px;
    border: 2px solid #3F6184;
	padding:5px 10px;
    text-align: center;
    color: #3F6184;
    margin-bottom: 30px;
	background:transparent;
}
.filter-button:hover,
.filter-button:focus,
.filter-button.active{
    color: #ffffff;
    background-color:#3F6184;
	outline:none;
}
.gallery_product{
    margin: 0px;
	padding:0;
	position:relative;
}
.gallery_product .img-info{
	position: absolute;
    background: rgba(0,0,0,0.5);
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
	overflow:hidden;
	color:#fff;
	top:0;
	display:none;
	   -webkit-transition: 2s;
    transition: 2s;
}

.gallery_product:hover .img-info{
	display:block;
   -webkit-transition: 2s;
    transition: 2s;
}

/*	end gallery */


























/**resizing jumbotron and elements for mobile phone 720px**/
@media screen and (max-width: 720px){
    .text-subheading{
        -webkit-animation-delay: 2s!important; 
        -moz-animation-delay: 2s!important;
        animation-delay: 2s!important;}
    .jumbotron{
        padding: 0!important;
        margin: !important;
        background-color: transparent;
        margin-bottom: 0px;}
   .text-center{
        text-align: center;}
   .text-heading{
       font-size: 2em!important;
       padding-left: 0!important;
       padding-bottom: 0px;
        text-align: center;}
   .text-subheading{
       font-size: 0.6em !important;
       padding-left: 1em !important;
       padding-right: 1em !important;
       width: 100%;
       margin: auto;
       margin-bottom: 2em;
        text-align: center;}
    .social-circle li.social-list a.social-link{
        display:inline-block;
	    position:relative;
	    margin:0 auto 0 auto;
	    -moz-border-radius:50%;
	    -webkit-border-radius:50%;
	    border-radius:50%;
	    text-align:center;
	    width: 20px;
	    height: 20px;
	    font-size:7px;}
    .social-circle li.social-list i{
	    margin:0;
	    line-height:20px;
	    text-align: center;}
    .contact-links{
        width: 100%;
        margin-top: 0;
        margin-bottom: -1em;
        text-align: center;
        margin-left: auto;
        margin-right: auto;}
    .social-circle{
        padding-left: 0px;}
    ul.social-buttons{
	    list-style: none;
	    display: inline;}
    ul.social-buttons li{
	    display: inline;
        margin: 0 3px;}
    .row{
        margin-left: auto!important;
        margin-right: auto!important;
        text-align: center;}
    .col-sm-6{
        display: inline-block!important;}
    .col-md-4{
        display: inline-block!important;}
    
    .thumbnail{
        width: 40px;}
    .caption{
        font-size: 0.5em !important;}} **/
    



