.navbar-inverse{
    background-color: white;
    border: none !important;}
.navbar-brand{
    font-family: "Pacifico";
    font-size: 1.5em;
    padding-top: 1.1em;}

.navbar-toggle{
    margin-top: 30px;
    padding: 20px;
    background-color: darkgrey;
    opacity: 0.5;
    transition: opacity 0.5s;
    border: none;}
.navbar-toggle:hover{
    opacity: 1;
    transition: opacity 0.5s;}
.dropdown{
    color: black!important;
    margin-top: 25px;
    margin-right: 0px;}
.contact-me{
    color: darkgrey;}
.contact-me:hover{
    color: lightgrey;}
.academic-history{
    color: darkgrey;}
.academic-history:hover{
    color: lightgrey;}
.resume{
    color: darkgrey;}
.resume:hover{
    color: lightgrey;}






/**.fa is social icons in navbar**/
.fa{
    font-size: 2.2em!important;}

/**hero heading**/
.jumbotron{
    background-color: transparent;
    margin-bottom: 50px;}
.text-center{
    text-align: left;
    padding-left: 20px;}
.text-heading{
    color: black!important;
    font-size: 5em!important;
    font-family: "Roboto";
    font-weight: 900;}
.text-subheading{
    color: darkgray;
    padding-top: 25px;
    padding-top: auto;
    font-family: "Roboto";
    font-weight: 400!important;
    font-size: 1.4em!important;}










/*=========================
  Icons
 ================= */

.contact-links{
    background-color: transparent;
    width: 400px;
    padding-right: 0;
    padding-left: 0;
    margin-top: -70px;
    margin-left: 965px}

/* footer social icons */
ul.social-buttons{
	list-style: none;
	display: inline;}
ul.social-buttons li{
	display: inline;
	margin: 0 5px;}

/** set hover color to correct hex value for that brand from https://brandcolors.net/**/
.social-buttons a.icoInstagram:hover{
	background-color: #8134AF;
    opacity: 1;
    transition: opacity 0.5s;}
.social-buttons a.icoFacebook:hover{
	background-color:#3B5998;
    opacity: 1;
    transition: opacity 0.5s;}
.social-buttons a.icoLinkedin:hover{
	background-color:#0077b5;
    opacity: 1;
    transition: opacity 0.5s;}
.social-buttons a.icoPinterest:hover{
	background-color:#BD081C;
    opacity: 1;
    transition: opacity 0.5s;}
.social-buttons a.icoGithub:hover{
	background-color:#6e5494;
    opacity: 1;
    transition: opacity 0.5s;}

.social-buttons a.icoMail:hover{
	background-color:#007bb7;
    opacity: 1;
    transition: opacity 0.5s;}

a.icoInstagram{
 background-color: #8134AF;
 opacity: 0.5;
 transition: opacity 1s;}
a.icoFacebook{
 background-color: #3B5998;
 opacity: 0.5;
 transition: opacity 1s;}
a.icoLinkedin{
 background-color: #0077b5;
 opacity: 0.5;
 transition: opacity 1s;}
a.icoPinterest{
 background-color: #BD081C;
 opacity: 0.5;
 transition: opacity 1s;}
a.icoGithub{
 background-color: #6e5494;
 opacity: 0.5;
 transition: opacity 1s;}
a.icoMail{
 background-color: #007bb7;
 opacity: 0.5;
 transition: opacity 1s;}




.social-circle li.social-list a.social-link{
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 40px;
	height: 40px;
	font-size:14px;}
.social-circle li.social-list i{
	margin:0;
	line-height:40px;
	text-align: center;}

/** animate icons**/
.social-circle li.social-list a:hover i, .triggeredHover{
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;}
.social-circle i{
	color: #fff;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	-ms-transition: all 1s;
	transition: all 1s;}



@media screen and (min-width: 1580px){
.contact-links{
    margin-left: 1315px!important;}}
@media screen and (min-width: 1400px){
.contact-links{
    margin-left: 1125px;}}
@media screen and (max-width: 1280px){
.contact-links{
    margin-left: 835px;}}
@media screen and (max-width: 1120px){
.contact-links{
    margin-left: 685px;}}
@media screen and (max-width: 1080px){
.contact-links{
    margin-left: 495px;}}
@media screen and (max-width: 900px){
.contact-links{
    margin-top: 0px;
    margin-left: -20px;}}




/**resizing jumbotron and elements for mobile phone 720px**/
@media screen and (max-width: 720px){
    .text-subheading{
        -webkit-animation-delay: 2s!important; 
        -moz-animation-delay: 2s!important;
        animation-delay: 2s!important;}
    .jumbotron{
        padding: 0!important;
        margin: !important;
        background-color: transparent;
        margin-bottom: 50px;}
   .text-center{
        text-align: center;}
   .text-heading{
       padding-left: 0!important;
       padding-bottom: 30px;
        text-align: center;}
   .text-subheading{
       padding-left: 0 !important;
       width: 100%;
       margin: auto;
        text-align: center;}
    .social-circle li.social-list a.social-link{
        display:inline-block;
	    position:relative;
	    margin:0 auto 0 auto;
	    -moz-border-radius:50%;
	    -webkit-border-radius:50%;
	    border-radius:50%;
	    text-align:center;
	    width: 25px;
	    height: 25px;
	    font-size:9px;}
    .social-circle li.social-list i{
	    margin:0;
	    line-height:25px;
	    text-align: center;}
    .contact-links{
        padding-right:;
        width: 100%;
        margin-top:  0;
        text-align: center;
        margin-left: auto;
        margin-right: auto;}
    .social-circle{
        padding-left: 0px;}
    ul.social-buttons{
	    list-style: none;
	    display: inline;}
    ul.social-buttons li{
	    display: inline;
        margin: 0 3px;}
    .nav-icon{
        width: 70px!important;
        padding-top: 18px;}}








/** fade in animations**/
.animate {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;}

@keyframes fadeIn {
  from {
    opacity: 0;}
  to {
    opacity: 1;}}
.fadeIn {
    -webkit-animation-name: fadeIn;
	animation-name: fadeIn;}
/**delays for fade**/

.nav-icon{
-webkit-animation-delay: 0.2s;
-moz-animation-delay: 0.2s;
animation-delay: 0.2s;}
.contact-me{
-webkit-animation-delay: 0.2s;
-moz-animation-delay: 0.2s;
animation-delay: 0.2s;}
.academic-history{
-webkit-animation-delay: 0.3s;
-moz-animation-delay: 0.3s;
animation-delay: 0.3s;}
.resume{
-webkit-animation-delay: 0.4s;
-moz-animation-delay: 0.4s;
animation-delay: 0.4s;}
.text-heading{
-webkit-animation-delay: 0.8s;
-moz-animation-delay: 0.8s;
animation-delay: 0.8s;}
.text-subheading{
-webkit-animation-delay: 2s;
-moz-animation-delay: 2s;
animation-delay: 2s;}
.icoFacebook{
-webkit-animation-delay: 1.1s;
-moz-animation-delay: 1.1s;
animation-delay: 1.1s;}
.icoLinkedin{
-webkit-animation-delay: 1.2s;
-moz-animation-delay: 1.2s;
animation-delay: 1.2s;}
.icoInstagram{
-webkit-animation-delay: 1.3s;
-moz-animation-delay: 1.3s;
animation-delay: 1.3s;}
.icoPinterest{
-webkit-animation-delay: 1.4s;
-moz-animation-delay: 1.4s;
animation-delay: 1.4s;}
.icoGithub{
-webkit-animation-delay: 1.5s;
-moz-animation-delay: 1.5s;
animation-delay: 1.5s;}
.icoMail{
-webkit-animation-delay: 1.6s;
-moz-animation-delay: 1.6s;
animation-delay: 1.6s;}
.row{
-webkit-animation-delay: 2.8s;
-moz-animation-delay: 2.8s;
animation-delay: 2.8s;}

















.nav-icon:hover{
    transition-delay: 2s;
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-ms--transform: rotate(90deg);
	transform: rotate(90deg);
    opacity: 0.5;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;}
.nav-icon{
    width: 120px;
    height: auto;
    opacity: 1;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	-ms-transition: all 1s;
	transition: all 1s;}

.row{
    width: 100%;
    max-width: 100% !important;
    padding-left: 20px;
    padding-right: 20px;}
 
.thumbnail{
    background-color: transparent;
    border: none;}

*{
    border: none!important;}

.first-icon{
    background-color: transparent;
    width: 300px;
    opacity: 1;
    transition: opacity 0.5s;}
.second-icon{
    background-color: transparent;
    width: 300px;
    opacity: 1;
    transition: opacity 0.5s;}
.third-icon{
    background-color: transparent;
    width: 300px;
    opacity: 1;
    transition: opacity 0.5s;}
.third-icon:hover{
    background-color: transparent;
    width: 300px;
    opacity: 0.5;
    transition: opacity 0.5s;}
.second-icon:hover{
    background-color: transparent;
    width: 300px;
    opacity: 0.5;
    transition: opacity 0.5s;}
.first-icon:hover{
    background-color: transparent;
    width: 300px;
    opacity: 0.5;
    transition: opacity 0.5s;}

.caption{
    text-align: center;}

.Contact-Me, .My-Work, .About-Me{
    color: darkgray;
    padding-top: auto;
    font-family: "Roboto";
    font-weight: 400!important;
    font-size: 1.4em!important;}


    
    
    
    






/**about me html**/

.About{
    font-family: "Roboto";
    font-weight: 400;
        color: darkgray;
    padding-top: auto;
    font-family: "Roboto";
    font-weight: 400!important;
    font-size: 1em!important;
}
























