.navbar-inverse{
    background-color: transparent;
    border: none !important;}
.navbar-brand{
    font-family: "Pacifico";
    font-size: 1.5em;
    padding-top: 1.1em;}

/**.fa is social icons in navbar**/
.fa{
    font-size: 2.2em!important;}

/**hero heading**/
.jumbotron{
    background-color: transparent;
    margin-bottom: 50px;}
.text-center{
    text-align: left;
    padding-left: 20px;}
.text-heading{
    padding-bottom:;
    font-family: "Roboto";
    font-weight: 900;}
.text-subheading{
    color: darkgrey;
    padding-top: 25px;
    padding-top: auto;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 1.4em!important;}










/*=========================
  Icons
 ================= */

.contact-links{
    width: 100%;
    margin-right: auto;
    padding-left: 0px;
    margin-top: -65px;
    margin-left: 72%;}

/* footer social icons */
ul.social-buttons{
	list-style: none;
	display: inline;}
ul.social-buttons li{
	display: inline;
	margin: 0 5px;}

/** set hover color to correct hex value for that brand from https://brandcolors.net/**/
.social-buttons a.icoInstagram:hover{
	background-color: #8134AF;
    opacity: 1;
    transition: opacity 0.5s;}
.social-buttons a.icoFacebook:hover{
	background-color:#3B5998;
    opacity: 1;
    transition: opacity 0.5s;}
.social-buttons a.icoLinkedin:hover{
	background-color:#0077b5;
    opacity: 1;
    transition: opacity 0.5s;}
.social-buttons a.icoPinterest:hover{
	background-color:#BD081C;
    opacity: 1;
    transition: opacity 0.5s;}
.social-buttons a.icoGithub:hover{
	background-color:#6e5494;
    opacity: 1;
    transition: opacity 0.5s;}

.social-buttons a.icoMail:hover{
	background-color:#007bb7;
    opacity: 1;
    transition: opacity 0.5s;}

a.icoInstagram{
 background-color: #8134AF;
 opacity: 0.5;
 transition: opacity 1s;}
a.icoFacebook{
 background-color: #3B5998;
 opacity: 0.5;
 transition: opacity 1s;}
a.icoLinkedin{
 background-color: #0077b5;
 opacity: 0.5;
 transition: opacity 1s;}
a.icoPinterest{
 background-color: #BD081C;
 opacity: 0.5;
 transition: opacity 1s;}
a.icoGithub{
 background-color: #6e5494;
 opacity: 0.5;
 transition: opacity 1s;}
a.icoMail{
 background-color: #007bb7;
 opacity: 0.5;
 transition: opacity 1s;}




.social-circle li.social-list a.social-link{
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 40px;
	height: 40px;
	font-size:14px;}
.social-circle li.social-list i{
	margin:0;
	line-height:40px;
	text-align: center;}

/** animate icons**/
.social-circle li.social-list a:hover i, .triggeredHover{
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;}
.social-circle i{
	color: #fff;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	-ms-transition: all 1s;
	transition: all 1s;}




















/**resizing jumbotron and elements for mobile phone 720px**/
@media screen and (max-width: 720px){
    .text-subheading{
        -webkit-animation-delay: 2s!important; 
        -moz-animation-delay: 2s!important;
        animation-delay: 2s!important;}
    .jumbotron{
        padding: 0!important;
        margin: !important;
        background-color: transparent;
        margin-bottom: 50px;}
   .text-center{
        text-align: center;}
   .text-heading{
       padding-left: 0!important;
       padding-bottom: 30px;
        text-align: center;}
   .text-subheading{
       padding-left: 0 !important;
       width: 100%;
       margin: auto;
        text-align: center;}
    .social-circle li.social-list a.social-link{
        display:inline-block;
	    position:relative;
	    margin:0 auto 0 auto;
	    -moz-border-radius:50%;
	    -webkit-border-radius:50%;
	    border-radius:50%;
	    text-align:center;
	    width: 25px;
	    height: 25px;
	    font-size:9px;}
    .social-circle li.social-list i{
	    margin:0;
	    line-height:25px;
	    text-align: center;}
    .contact-links{
        padding-right:;
        width: 100%;
        margin-top:  0;
        text-align: center;
        margin-left: auto;
        margin-right: auto;}
    .social-circle{
        padding-left: 0px;}
    ul.social-buttons{
	    list-style: none;
	    display: inline;}
    ul.social-buttons li{
	    display: inline;
        margin: 0 3px;}}










/** fade in animations**/
.animate {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;}

@keyframes fadeIn {
  from {
    opacity: 0;}
  to {
    opacity: 1;}}
.fadeIn {
    -webkit-animation-name: fadeIn;
	animation-name: fadeIn;}
/**delays for fade**/
.text-heading{
-webkit-animation-delay: 0.5s;
-moz-animation-delay: 0.5s;
animation-delay: 0.5s;}
.text-subheading{
-webkit-animation-delay: 1s;
-moz-animation-delay: 1s;
animation-delay: 1s;}
.icoFacebook{
-webkit-animation-delay: 1.1s;
-moz-animation-delay: 1.1s;
animation-delay: 1.1s;}
.icoLinkedin{
-webkit-animation-delay: 1.2s;
-moz-animation-delay: 1.2s;
animation-delay: 1.2s;}
.icoInstagram{
-webkit-animation-delay: 1.3s;
-moz-animation-delay: 1.3s;
animation-delay: 1.3s;}
.icoPinterest{
-webkit-animation-delay: 1.4s;
-moz-animation-delay: 1.4s;
animation-delay: 1.4s;}
.icoGithub{
-webkit-animation-delay: 1.5s;
-moz-animation-delay: 1.5s;
animation-delay: 1.5s;}
.icoMail{
-webkit-animation-delay: 1.6s;
-moz-animation-delay: 1.6s;
animation-delay: 1.6s;}